.container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}

.container p{
    font-size: 16px;
    color: #757579;
    text-align: center;
    margin-top: 10px;
}

.review{
    padding: 5px;
    gap:20px;
    margin: 20vh 0px 0px;
}

.profile{
    display:  flex;
    align-items: center;
    gap: 10px;
}

.profile-picture img{
    width: 50px;
}

.user-name{
    font-size: 20px;
    font-weight: 500px;
}

.user-location{
    font-size: 16px;
    color: #757579;
}

.message{
    font-size: 16px;
    color: #757579;
    line-height: 24px;
    font-weight: 300;
}

.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0px;
}


@media screen and (max-width:767px) {
    .review{
        width: 80%;
        margin: 0px auto 20px;
    }
}