 .admin{
    width: 100%;
   height: 105vh;
    display: flex;
 }

 .sidebar{
    width: 20%;
    height: 100%;
    border-right: 1px solid #757579;
    display: flex;
    flex-direction: column;
 }
 .content{
   width:75%;
   margin: 20px auto;
 }

 .admin-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 20px auto;
 }

 .admin-profile img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
 }

.dashboard-btns{
    display: flex;
    flex-direction: column;
   
}

.dashboard-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;
     height: 40px;
}
.dashboard-btn-active{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;
    background: #9898f0;
    height: 40px;
}

@media screen and (max-width:767px) {
   .sidebar{
      width: 40%;
   }

   .content{
      width: 60%;
      margin-left: 5px;
   }
   .footer-container{
      display: none;
   }
}