.footer-container{
width: 90%;
margin:0px auto 10px;
}


.footer{
    
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}

.footer-item-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between ;
}

.footer-item-container p{
    color: #757579;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
}


.head{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
}

.head img{
    width: 150px;
    cursor: pointer;
}

.links ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links ul li{
    list-style: none;
    color: #757579;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.bottom-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.copy-right p, .made-with-love p{
    color: #757579;
}

.divider{
    margin: 10px auto;
}

.made-with-love span{
    color: red;
}


@media screen and (max-width:767px) {
    .footer{
       flex-direction: column; 
    }

    .bottom-footer{
        flex-direction: column;
    }
    .footer-item-container{
        width: 80%;
    }
}