.single-container{
    width: 90%;
    margin: 50px auto;
}

.single-container a{
    text-decoration: none;
    color: #757579;
}

.back-link{
    margin-bottom: 30px;
}

.back-link img{
    rotate: 180deg;
}

.single{
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}
.car-details{
    width: 65%;
    height: 100%;
}

.car-image-container{
    width: 100%;
    height: 70vh;
}
.car-image-container img{
    width:100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.book-car{
    width:35% ;
    position: sticky;
    top: 29vh;
    
}

.book-car-card{
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
}

.pricing{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing p,.single-input-field label{
    font-size: 16px;
    color: #757579;
    font-weight: 400;
}

.single-price{
    font-weight: bold;
    font-size: 24px;
}

.single-car-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.single-car-form p{
    font-size: 14px;
    color: #757579;
    text-align: center;
}

.single-input-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.single-input-field input{
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    outline: none;
    border: 1px solid #757579;
    font-size: 16px;
}
.single-car-form button{
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    background: #1F58D8;
    border: none;
    outline: none;
    color: white;
    font-size: 16px ;
    font-weight: 500;
}

.single-divider{
    margin: 30px auto;
}

.car-identity{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.car-category{
    font-weight: 400;
    font-size: 18px;
    color: #757579;
}

.features{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.feature{
    width: 23%;
    height: 100px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.feature img{
    width:  24px;
}

.description{
    margin: 30px auto;
}

.description-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.description p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #757579;
}

.extra-features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.extra-feature{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #757579;
    margin-bottom: 20px;
}

.car-name{
    margin-top: 20px;
    margin-bottom: 20px;
}

