.banner{
    width: 100%;
    height: 50vh;
    display:flex;
    align-items: end;
    justify-content: space-between;
    background: linear-gradient(150deg,#256DFF,#A4CCFF );
    border-radius: 20px;
    padding: 20px;
    margin: 40px 0px;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    padding-left: 20px;
}

.banner-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: white;
}

.banner-text p{
    color: white;
}

.banner-text button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: white;
    color: #256DFF;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.banner-text button:hover{
    scale: 1.03;
}

.image-container{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.image-container img{
    width: 70%;
}


@media screen and (max-width:767px) {
   .banner{
    flex-direction: column;
    height: fit-content;
    align-items: start;
   } 

   .banner-text, .image-container{
    width: 90%;
    margin: auto;
   }
   .image-container{
    align-items: center;
    justify-content: center;
   }

   .image-container img{
    width: 90%;
    margin-top: 20px;
   }
}